
:root{
    --bg:#f2f2f2;
    --white:#fff;
    --lightgreen:#22A39F;
    --darkgreen:#22a39f45;
    --black:#000;
    --darkgray:#333;
    --lightgray:#ccc;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

.converter {
    display: flex;
    max-width: 800px;
    margin: 10.5em auto;
    border: 2px solid var(--lightgreen);
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 3px 3px var(--darkgreen);
}

.left-column {
    flex: 1;
    padding: 20px;
}

.left-column .Logo {
    text-align: center;
    width: 25em;
    height: 3em;
    margin-bottom: 20px;
}

.Logo img {
    width: 20em;
    height: 16em;
    position: relative;
    top: -5.2em;
    margin-left: 1.8em;
}

.input-container,
.unit-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    color: var(--darkgray);
    font-weight: bold;
}

.input01 {
    width: 90%;
}

input,
select {
    width: 95%;
    margin-top: 0.6em;
    padding: 10px;
    border: 1px solid var(--lightgray);
    border-radius: 3px;
}

button {
    margin: 1em 10em 0em;

    background: var(--black);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.fa-solid,
.fas {
    font-weight: 900;
    margin-left: 3px;
    color: var(--white);
}

button:hover {
    background-color: var(--lightgreen);
    color: rgb(255, 255, 255);
}

.right-column {
    flex: 1;
    background-color: var(--lightgreen);
    padding: 20px;
    text-align: center;
    color: var(--white);
    border-radius: 0 5px 5px 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.result {
    font-weight: bold;
    font-size: 2.5em;
}

#resultUnit {
    font-size: 1em;
    position: absolute;
}

@media (max-width: 768px) {
    .converter {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
        border-radius: 5px;
    }

    .right-column {
        border-radius: 0;
    }
}
